<div class="col-lg-10 col-lg-offset-1" >
  <table class="table table-striped">
    <thead>
      <tr>
        <th><h2>Pregunta</h2></th>
        <th ><h2>Autor</h2></th>
        <th width="7em"><h2>Votos</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td class="lead">Por favor seleccione una conferencia para mostrar las preguntas en tiempo real</td>
        <td class="lead">Juan Gonzalez</td>
        <td class="lead"><div class="pull-right">7.568</div></td>
      </tr>
    </tbody>
  </table>
</div>