<table class="table table-bordered table-condensed">
<thead>
<tr >
  <th><label class="control-label">Mis eventos</label></th>
</tr>
</thead>
<tbody>
<% if @user_events.empty? %>
<tr><td> No tienes eventos para mostrar </td></tr>
<% end %>

<% @user_events.each do |ue| %>
  <tr class="controls"> 
    <td><%= ue %></td>    
  </tr>
  <tr>
      <td colspan="3" align="left"><strong>TOTAL:</strong></td>
      <td colspan="1"><%#= item.amount %></td>
  </tr>
    <% end %>
</tbody>
</table>
