<div class="jumbotron">
      <div class="container">
        <h2><%= t(".title", scope: "views") %></h2>
        <pre><%= t(".request_sent_message", scope: "views") %></pre>
        <p><%= link_to t(".back", scope: "views"), @return_to, :class=> "btn btn-primary btn-lg", :role=>"button" || organizers_events_path %></p>
      </div>
    </div>




<p></p>
